body {
    background: #F3EFE0
}

.meterAnimation {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 15%;
    background: #CD5C5C
}